<!DOCTYPE html>
<html>
<head>
<!-- http://energy.stone-env.net/ -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDEvQGhEUR6npaXQCdVqAdw9ZiKJKA2qho"></script>

<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="dist/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="mainmap.css" type="text/css">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">


<script src="LandingGIS.js" type="text/javascript"></script>
</head>
<body>
    <div id="main" ng-app="mapsApp" ng-controller="MapCtrl">
        <div id="header" ng-include="'views/header.html'"></div>
        <div id="maincanvas">
            <div id="map"></div>
            <div id="infopanel">
              <a>Information Panel</a>
              <button id="class" class="btn btn-default" ng-repeat="marker in markers | orderBy : 'title'" ng-click="openInfoWindow($event, marker)">
                 <a>{{marker.title}}</a>
              </button>              
            </div>
        </div>
        <div id="footer" ng-include="'views/footer.html'"></div>
    </div>
<!-- <div ng-app="mapsApp" ng-controller="MapCtrl">
    <div id="map"></div>
    <div id="class" ng-repeat="marker in markers | orderBy : 'title'">
         <a href="#" ng-click="openInfoWindow($event, marker)">{{marker.title}}</a>
    </div>
</div>-->
</body>
</html>
