html { height: 100%; margin: 0;margin: 0; padding: 0}
body { height: 100%; width: 100%; margin: 0; padding: 0}
#main {
	height:100%;
	width:100%;
}
#header{
	height:8%;
	width:100%;
	top:0px;
}

#maincanvas{
	height:84%;
	width:100%;
}

#map {
	position:relative;
  height:100%;
  width:100%;
  float:left;
}

.esri-view {
  height:100%;
  width:100%;
}

#sliderControl {
  position:absolute;
  right:1px;
  z-index: 50;
}

#infopanel {
	position:absolute;
	height:84%;
  width:500px;
  right:0px;
}
#infopanel a {
	position:relative;
	width:100%;
	text-align: middle;
}

#class{
	width:100%;
	background-color:#4a3144;
	padding-bottom:1px;
	padding-top:1px;
}

#class a {
	color:#ffffff;
}

.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

#footer{
	height:8%;
	width:100%;
	bottom:0px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100%;
  text-align: center;
  background-color: #4a3144;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.nav li a {
  display:inline-block;
}
.navbar-brand {
   margin:0 0 0 0;
   height:100%;
   width:300px;
   float:left;
   color:#ffffff !important; 
}
.navbar-brand img{
  background-color:white;
  margin:auto;
  height:100%;
  width:auto;
  display:inline-block;
}

#navbar-link{
  height:100%;
  width:45%;
  float:left;
}

#navbar-link ul{
  height:100%;
}

.nav-link{
  color:#ffffff !important;
  height:100%;
  display: inline-block;
  vertical-align: middle;
}

.nav-link::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.navbar-nav .nav-item{
   margin:0 80px 0 0; 
   height:100%;  
}

.dropdown-menu a {
  color:#4a3144;
}

.container {
  width: auto;
  /*max-width: 680px;*/
  padding: 0 15px;
}

.navbar{
  background-color: #4a3144;
  height:100%;
}

.navbar form{
  height:100%;
  width:30%;
  float:right;
}

.navbar form::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.navbar form input{
  width:70%;
  display:inline-block;
  vertical-align: middle;
}

.navbar form button{
  width:30%;
  display:inline-block;
  vertical-align: middle;
}

.infopage {
  height:100%;
  width:100%;
}

#link1 {
  background-color: red;
}

#link2 {
  background-color: blue;
}

#dropdown1 {
  background-color: yellow;
}

#dropdown2 {
  background-color: green;
}

#dropdown3 {
  background-color: purple;
}
